:root {
    --primary-text-color: #757575;
    --logo-text-color: #2196F3;
    --logo-color: #000000;
    --background-color: #FFFFFF;
    --background-hero: #2F303A;
    --h1-color: #FFFFFF;
    --button-color:#2196F3;
    --black:#212121;
    --footer-background-color: #2F303A;
    --footer-conntacts:color: rgba(255, 255, 255, 0.6);
    --solid: #ECECEC;
    --buttons-color: #F5F4FA;
    }

.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    }
    
.container-header{
    border-bottom: 1px solid var(--solid);
    align-items: center;
    }


    .portfolio-container{
        border-bottom: 2px solid #ECECEC;
        ;
        ;
    }

.header > .container{
    display: flex;
    align-items: center ;
    }

.logo{
    margin-right: 93px;
    }

.link-buttons{
    display: flex;
    }

.link-buttons>.item:not(:last-child) {
    margin-right: 50px;
    }

.our-classes {
     display: flex;
    }

.our-classes > .flex-elememt{
    display: flex;
    align-items: center ;
    width: 380px;
    margin-right: 30px;
    }

.link{
    display: block;
    padding-top:32px;
    padding-bottom:32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--primary-text-color);
    }

.container>.types-of-works{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 74px;
    }

.types-of-works>.flex-elemrent{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    box-sizing: border-box;
    }

.types-of-works>.flex-elemrent:nth-last-child(-n+3){
    margin-bottom: 0px;
    }

.types-of-works>.flex-elemrent:nth-child(3n) {
    margin-right: 0px;

    }


.types-of-works> .portfolio-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    }

.flex-elemrent> .portfolio-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    }

.nav-link-contacts{
    margin-left: auto;
    margin-right: 15px;
}

body{
    color:var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    }
   
.logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--logo-text-color);
    margin-left:15px;  
    }

.logo-color{
    color:var(--logo-color);
    font-size: 26px;
    line-height: 1.19;
    }

.logo-color-footer{
    color:var(--h1-color);
    font-size: 26px;
    line-height: 1.19;
    margin-top: 60px;
    }

.link-tel{
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    }

.link-contacts{
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    }

.link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 0;
    }

.link-tel{
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    }
    
.link-mail{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color:var(--button-color);
    }

.link-studio{
    color:var(--button-color);
    }

.link-portfolio{
    color:var(--button-color);
    }

.link:hover{
    color:var(--button-color);
    }

li{
    list-style-type: none; 
   }

h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--h1-color);
    margin-top: 0;
    margin-bottom: 0;
    }

h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 50px;
    }

h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    color:var(--black);
    margin-top: 0;
    margin-bottom: 0;
    }

h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color:var(--black);
    }

.our-benefits{
    margin-top: 94px;
    margin-bottom: 94px;  
    display: flex;
    }

.our-benefits>.flex-elememt>.flex-element{
        padding-right: 30px;
        padding-top: 94px;
        padding-bottom: 94px;
        width: 270px;
    }
.our-team-container{
    margin-bottom: 94px;
    }
.names{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .our-team-title{
        margin-top: 94px;
        margin-bottom: 50px;
    }
    .container-our-classes{
        padding-bottom: 94px;
    }
    .our-benefits>.flex-element:last-child{
        padding-right: 0px;   
    }

.our-classes>.flex-element:not(:last-child){
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;  
    display: flex;
    }

.our-team{
    margin-top: 0;
    margin-bottom: 30px;  
    display: flex;
    }

.our-team:not(:last-child){
    margin-right: 30px;
    }

button{
    width: 128px;
    height: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    margin-right: 8px;
    border: none;
    background:var(--buttons-color);
    border-radius: 4px;
    }

.link-buttons{
    margin-top: 0;
    margin-bottom: 0;  
    }

.container>.buttons{
    width: 611px;
    margin-top: 114px;
    margin-bottom: 34px; 
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius:4px;
    }
 
.types-of-works{
    margin-top: 0;
    margin-bottom: 0;  
    }

 .portfolio-heading{
        text-transform: none;
    }

.section-benefits-text{
    font-size: 14px;
    line-height: 1.71;
    }

.our-team{
    display: flex;
    }

.our-team>.flex-element:not(:last-child){
    margin-right: 30px;
    }
.title-h2{
    color: var(--background-color);
    }

.hero-section{
    background-color: var(--background-hero); 
    text-align: center;
    width: 1600px;
    }

.button-blue{
    font-family: inherit;
    background: #2196F3;
    font-weight: bold;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.87;
    color:var(--h1-color);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;   
    }

.main-hero{
    padding-top: 200px;
}
    .button-blue:hover{
        color: black;
    }

.section-our-team-text{
    font-size: 16px;
    line-height: 1.19;    
    color: var(--primary-text-color);
    margin-top: 10px;
    margin-bottom: 0px;
    }

footer{
    background-color: var(--footer-background-color);
    }

address{
    color: var(--h1-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    }

a{
    color: var(--footer-conntacts);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    }

.button-main{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color:var(--button-color);
    color: var(--background-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;   
    }

.button-all{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background: #2196F3;
    color:var(--h1-color);
    cursor: pointer;
    margin-left: auto;
    margin-right: 8px;   
    border-radius: 4px;
    border: none;
    }

.button-all:hover{
        color:var(--logo-color);
    }
    
.button-standart:hover{
    color:var(--button-color);
}
.button-standart:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    }

.hidden-header{        
    visibility: hidden;
    color:var(--background-color);
    margin: 0px;
    padding: 0px;
    display: none;
    }
    .footer-container{
 display: block;
 flex-wrap: wrap;
    }
    .logo-footer{
        margin-top: 60px;
        margin-left: 15px;
        margin-top: 60px;
        margin-right: 0px;

    }
    
